{{ partial "header.html" . }}
<section>
  <h1>Spotlights</h1>
  <div class='content'>

  {{ range .Pages.ByDate.Reverse }}
  {{ $spotlightPage := . }}
  <article class="spotlight">
      {{ with .Site.GetPage "artists" }}
      {{ range .Resources }}
      {{ if eq .Title $spotlightPage.Params.artist }}
      <div class="image">
        <img src='{{ .Params.image | absURL }}' alt="">
      </div>
      {{ end }}
      {{ end }}
      {{ end }}
      <div class='text'>
        <p>{{ .Date.Format "January 2006" }}</p>
        <h2 class="no-top-margin">{{ .Title }}</h2>
        <p>
          {{ .Summary }}
        </p>
        <a href="{{ .Permalink }}">See More…</a>
      </div>

  </article>

  {{ end }}
</div>

</section>
{{ partial "footer.html" . }}