{{ partial "header.html" . }}
{{ $artistPath := .Params.artist }}
{{ $featuredArtPaths := .Params.featuredArt }}
{{ $artistName := "" }}
<section>
  <div class='content'>
    {{ range ($.Site.GetPage "artists").Resources }}
    {{ if in $artistPath .Name }}
    {{ $artistName = .Title }}
    <div class="image small">
      <img src='{{ .Params.image }}' alt="">
    </div>
    {{ end }}
    {{ end }}
    <p>{{ .Date.Format "January 2006" }}</p>

    <h1>{{ .Title }}</h1>
    <p>{{ .Content }}</p>
  </div>
</section>
{{ if $featuredArtPaths }}
<hr>
<section>
  <div class='content'>
    {{ range $featuredArtPaths }}
    {{ $artPath := . }}
    {{ range ($.Site.GetPage "artwork").Resources }}
    {{ if in $artPath .Name }}
    <h2>{{.Title}}</h2>
    <h3>By {{$artistName}}</h3>
    {{ .Content }}
    {{ end }}
    {{ end }}
    {{ end }}
  </div>
</section>
{{end}}

{{ partial "footer.html" . }}