{{ partial "header.html" . }}
<section>
  <div class='content'>
    <h1>{{.Title}}</h1>
    {{ range .Params.featuredArt }}
    {{ $artworkPath := . }}
    {{ range ($.Site.GetPage "artwork").Resources }}
    {{ if in $artworkPath .Name }}
    {{ $artworkTitle := .Title }}
    {{ $artworkContent := .Content }}
    {{ $artistPath := .Params.artist }}
    {{ range ($.Site.GetPage "artists").Resources }}
    {{ if in $artistPath .Name }}
    <article>
      <h2>{{$artworkTitle}}</h2>
      <h3>By {{.Title}}</h3>
      {{ $artworkContent}}
    </article>
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ end }}
  </div>
</section>
{{ partial "footer.html" . }}